/* line 11, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
body {
  font-family: "Open Sans", sans-serif;
  color: #52616B;
}

/* line 15, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
a {
  color: #1E2022;
  text-decoration: none;
}

/* line 18, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
a:hover {
  color: #37b3ed;
  text-decoration: none;
}

/* line 23, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  color: #1E2022;
}

/* line 32, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #1E2022;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

/* line 44, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

/* line 49, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.back-to-top:hover {
  background: #2eafec;
  color: #fff;
}

/* line 53, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* line 58, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #F0F5F9;
  overflow-y: auto;
}

/* line 71, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
#header .profile img {
  margin: 7em auto 2em auto;
  display: block;
  width: 150px;
}

/* line 76, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
#header .profile .arquitect-name {
  margin: auto;
  display: block;
  text-align: center;
}

/* line 81, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
#header .profile .arquitect-name.subtitle {
  font-weight: 400;
}

/* line 84, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

/* line 94, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
#header .social-links {
  margin: 7em auto auto auto;
  display: flex;
}

/* line 97, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
#header .social-links a {
  font-size: 20px;
  display: inline-block;
  color: #1E2022;
  line-height: 1;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

/* line 108, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
#header .social-links a:hover {
  color: #000;
  text-decoration: none;
  font-size: 25px;
}

/* line 116, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
#header .profile h1 a,
#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

/* line 121, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
#main {
  margin-left: 300px;
}

/* line 124, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.nav-menu {
  padding: 1em 0 0 1em;
}

/* line 126, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 132, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

/* line 137, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.nav-menu h6 {
  margin: 10px 0 10px 0 !important;
}

/* line 141, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #1E2022;
  padding: 7px 10px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

/* line 151, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

/* line 157, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
  text-decoration: none;
  color: #1E2022;
  font-weight: 750;
}

/* line 165, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover > a i {
  color: #1E2022;
}

/* line 171, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #1E2022;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

/* line 191, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.mobile-nav-active {
  overflow: hidden;
}

/* line 193, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.mobile-nav-active #header {
  left: 0;
}

/* line 197, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/p1bg.jpg") top center;
  background-size: cover;
}

/* line 202, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

/* line 212, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

/* line 217, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

/* line 225, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
section {
  overflow: hidden;
}

/* line 228, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.section-bg {
  background: #f5f8fd;
}

/* line 231, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.section-title {
  padding: 30px 0 0 0;
}

/* line 234, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #1E2022 !important;
}

/* line 241, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #1E2022;
  bottom: 0;
  left: 0;
}

/* line 252, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.section-title p {
  margin-bottom: 0;
}

/* line 257, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.render-caption {
  margin-top: 1em;
}

/* line 259, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.render-caption p {
  font-size: 1em;
  margin-bottom: 0;
  text-align: left !important;
}

/* line 267, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #1E2022;
}

/* line 272, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.about .content ul {
  list-style: none;
  padding: 0;
}

/* line 275, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

/* line 280, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.about .content ul strong {
  margin-right: 10px;
}

/* line 283, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #1E2022;
  line-height: 0;
}

/* line 291, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.about .content p:last-child {
  margin-bottom: 0;
}

/* line 300, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.facts {
  padding-bottom: 30px;
}

/* line 302, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.facts .count-box {
  padding: 30px;
  width: 100%;
}

/* line 305, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.facts .count-box i {
  display: block;
  font-size: 44px;
  color: #1E2022;
  float: left;
  line-height: 0;
}

/* line 312, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.facts .count-box span {
  font-size: 48px;
  line-height: 40px;
  display: block;
  font-weight: 700;
  color: #050d18;
  margin-left: 60px;
}

/* line 320, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.facts .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 60px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #122f57;
}

/* line 327, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.facts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #122f57;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}

/* line 335, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.facts .count-box a:hover {
  color: #1f5297;
}

/* line 342, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

/* line 347, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #050d18;
}

/* line 355, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

/* line 361, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.skills .progress-bar-wrap {
  background: #dce8f8;
  height: 10px;
}

/* line 365, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #1E2022;
}

/* line 373, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}

/* line 380, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}

/* line 385, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}

/* line 394, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.resume .resume-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

/* line 402, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.resume .resume-item ul {
  padding-left: 20px;
}

/* line 404, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.resume .resume-item ul li {
  padding-bottom: 10px;
}

/* line 408, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.resume .resume-item:last-child {
  padding-bottom: 0;
}

/* line 411, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}

/* line 425, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

/* line 428, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  padding: 2px 15px;
}

/* line 436, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #272829;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

/* line 447, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

/* line 452, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

/* line 457, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

/* line 469, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.portfolio .portfolio-wrap .portfolio-links {
  opacity: 1;
  left: 0;
  right: 0;
  bottom: -60px;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
  display: flex;
  justify-content: center;
}

/* line 479, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  font-size: 28px;
  text-align: center;
  background: rgba(20, 157, 221, 0.75);
  transition: 0.3s;
  width: 50%;
}

/* line 486, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.portfolio .portfolio-wrap .portfolio-links a:hover {
  background: rgba(20, 157, 221, 0.95);
}

/* line 489, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.portfolio .portfolio-wrap .portfolio-links a + a {
  border-left: 1px solid #37b3ed;
}

/* line 495, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

/* line 502, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.portfolio .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: 0;
}

/* line 509, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #1E2022;
}

/* line 513, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.portfolio-details {
  padding-top: 40px;
}

/* line 516, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

/* line 519, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

/* line 522, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #1E2022;
}

/* line 529, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #1E2022;
}

/* line 534, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(5, 13, 24, 0.08);
}

/* line 537, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

/* line 544, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

/* line 549, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

/* line 555, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.portfolio-details .portfolio-description {
  padding-top: 30px;
}

/* line 557, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

/* line 562, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.portfolio-details .portfolio-description p {
  padding: 0;
}

/* line 568, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.services .icon-box {
  margin-bottom: 20px;
}

/* line 571, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.services .icon-box:hover .icon {
  background: #fff;
}

/* line 573, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.services .icon-box:hover .icon i {
  color: #1E2022;
}

/* line 579, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.services .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  background: #1E2022;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #1E2022;
}

/* line 590, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.services .icon i {
  color: #fff;
  font-size: 24px;
  line-height: 0;
}

/* line 596, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.services .title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

/* line 601, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.services .title a {
  color: #343a40;
}

/* line 603, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.services .title a:hover {
  color: #1E2022;
}

/* line 608, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.services .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

/* line 614, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

/* line 619, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.testimonials .testimonial-item {
  box-sizing: content-box;
  text-align: center;
  min-height: 320px;
}

/* line 623, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  margin: 0 auto;
}

/* line 628, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

/* line 634, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

/* line 639, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

/* line 644, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

/* line 650, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 15px 15px 15px;
  padding: 20px;
  background: #fff;
  position: relative;
  margin-bottom: 35px;
  border-radius: 6px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

/* line 659, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.testimonials .testimonial-item p::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #fff;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 20px);
}

/* line 672, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

/* line 675, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #1E2022;
}

/* line 682, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #1E2022;
}

/* line 687, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #c3e8fa;
  font-size: 26px;
}

/* line 692, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.contact {
  padding: 80px 0 130px 0;
}

/* line 694, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.contact .info {
  padding: 40px 30px 30px 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

/* line 699, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.contact .info i {
  font-size: 20px;
  color: #1E2022;
  float: left;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

/* line 710, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.contact .info h6 {
  padding: 0 0 0 0;
  font-size: 0.8em;
  font-weight: 500;
  margin-bottom: 0 !important;
  color: #1E2022 !important;
}

/* line 717, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.contact .info p {
  padding: 0 0 0 0;
  font-size: 14px;
  color: #1E2022;
}

/* line 723, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.contact .info .email p {
  padding-top: 5px;
}

/* line 727, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.contact .info .social-links {
  padding-left: 60px;
}

/* line 729, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

/* line 742, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.contact .info .social-links a:hover {
  background: #1E2022;
  color: #fff;
}

/* line 749, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.contact .php-email-form {
  width: 100%;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

/* line 754, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.contact .php-email-form .form-group {
  padding-bottom: 8px;
  margin-bottom: 15px;
}

/* line 758, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

/* line 765, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

/* line 773, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

/* line 778, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

/* line 786, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

/* line 791, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

/* line 804, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.contact .php-email-form label {
  padding-bottom: 8px;
}

/* line 807, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.contact .php-email-form input {
  height: 44px;
}

/* line 810, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.contact .php-email-form textarea {
  padding: 10px 15px;
}

/* line 813, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.contact .php-email-form button[type=submit] {
  background: #1E2022;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

/* line 821, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.contact .php-email-form button[type=submit]:hover {
  background: #37b3ed;
}

/* line 826, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

/* line 832, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.breadcrumbs {
  padding: 20px 0;
  background: #f9f9f9;
}

/* line 835, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 300;
}

/* line 839, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

/* line 847, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.breadcrumbs ol li + li {
  padding-left: 10px;
}

/* line 849, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #0e2442;
  content: "/";
}

/* line 859, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
#footer {
  padding: 15px;
  color: #f4f6fd;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999;
  background: #F0F5F9;
}

/* line 869, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
#footer .copyright {
  text-align: center;
}

/* line 872, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #eaebf0;
}

/* line 881, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
#p1-images {
  background: url(../img/pj1bg.webp) bottom center no-repeat;
  color: #F0F5F9;
  min-height: 100vh;
  background-size: cover;
}

/* line 888, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
#p2-images {
  background: url(../img/pj2bg.webp) bottom center no-repeat;
  color: #F0F5F9;
  min-height: 736px;
  background-size: cover;
}

/* line 895, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.project h1, h2, h3, h4 {
  color: #F0F5F9 !important;
}

/* line 899, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.project .render {
  min-height: 300px;
}

/* line 904, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.project .render p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

/* line 909, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
.project .render p span {
  color: #F0F5F9;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #F0F5F9;
}

@media (max-width: 1199px) {
  /* line 919, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
  #header {
    left: -300px;
  }
  /* line 923, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
  #main {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  /* line 930, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
  .breadcrumbs .d-flex {
    display: block !important;
  }
  /* line 934, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
  .breadcrumbs ol {
    display: block;
  }
  /* line 938, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
  .breadcrumbs ol li {
    display: inline-block;
  }
}

@media (max-width: 1199px) {
  /* line 944, D:/ProyectosPersonales/diegosaldivia/preassets/style.scss */
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */